body {
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weather{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.weather__day-container{
    background-color: rgba(255, 245, 238, 0.267);
    margin: 1em;
    margin-bottom: 3rem;
    padding: 2em;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.weather__card-list{
    list-style: none;
}

.weather__card-input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top: 0.30rem;
}

.weather__card-button{
    background-color: #772953;
    border-color: #772953;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: #ffffff;
    margin: 1rem;
    padding: 0.35rem;
}

.weather__forecast-display{
    display: flex;
    font-weight: bolder;
}

.weather__forecast-container{
    background-color: rgba(255, 245, 238, 0.267);
    width: 100%;
    border: 0.5px solid #ced4da;
}